<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
</head>
<body>
    <div class="jumbotron" style="color:black">
        <h1>
            Get The Latest News On Our Website
        </h1>

    </div>  
    <div class="container">
        {% for new, des, i in mylist %}
            <img src="{{ i }}" alt="">
            <h1>News:</h1> {{ new }}
            {{ value|linebreaks }}
            <h4>Description:</h4>{{ des }}
            {{ value|linebreaks }}

        {% endfor %}
    </div>
    
</body>
</html>